{% extends 'basic.html' %}
{% block style %}
    {% load static %}
    <!-- Sweetalert Css -->
    <link href="{% static 'theme/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet" />
    <link href="{% static 'theme/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}
    <section class="content">
        <div class="container-fluid">
            <!-- Basic Examples -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="header">
                        <a class="btn btn-primary waves-effect" href="{% url 'companyadd' %}"><i class="fa fa-plus-circle"></i>&nbsp; AÑADIR EMPRESA</a>
                        <h2 style="padding-top:12px;">EMPRESA</h2>
                    </div>
                    <div class="card">
                        <div class="body">
                            <table class="table color-table primary-table js-basic-example dataTable" style="padding-top: 10px;">
                                <thead>
                                    <tr>
                                        <th >Nombre de Empresa</th>
                                        <th >Dirección</th>
                                        <th >Teléfono</th>
                                        <th >Sitio web</th>
                                        <th >NIF</th>
                                        <th >País</th>
                                        <th >Note</th>
                                        <th  class="text-center">Modificar</th>
                                    </tr>
                                </thead>
                                <tbody>	
                                    {% for company in companies %}
                                    <tr class="text-left">
                                        <td class="text-left">{{company.name}}</td>
                                        <td class="text-left">{{company.address}}</td>
                                        <td class="text-left">{{company.phone}}</td>
                                        <td class="text-left">{{company.web}}</td>
                                        <td class="text-left">{{company.nif}}</td>
                                        <td class="text-left">{{company.country_company.name}}</td> 
                                        <td class="text-left">{{company.description|truncatechars:10}}</td>
                                        <td class="text-center" style="vertical-align: middle">
                                            <a href="{% url 'companyupdate' company.id %}"><i class="fa fa-pencil"></i></a>&nbsp;
                                            <a href="#" onclick="delete_company('{{company.id}}')"><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                    
                                    {% endfor %}
                                
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>
            </div>
            <!--Delete Company-->
            <div class="modal fade" id="delete-company" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog modal-xs">
                    <div class="modal-content" style="border-radius: 15px;">
                        <div class="modal-header" style="background-color: #7f9bcd; border-top-right-radius: 10px; border-top-left-radius: 10px;">
                            <div class="align-items-center">
                                <p class="modal-title" id="exampleModalLongTitle" style="color: white;"><i class="fa fa-trash"></i>&nbsp;&nbsp;ELIMINAR Empresa</p>
                            </div>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" style="color: #fff;">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="col-12">
                                <h5>¿Está seguro que quiere eliminar este registro?</h5>
                            </div>
                        </div>
                        <input type="hidden" id="company_id_sel" value="-1" />
                        <div class="modal-footer">
                            <center>
                                <button id="delete-button" class="btn btn-primary waves-effect">SI</button>
                                <button data-dismiss="modal" class="btn btn-danger waves-effect">NO</button>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block script %}
    <!-- SweetAlert Plugin Js -->
    <script src="{% static 'theme/plugins/sweetalert/sweetalert.min.js' %}"></script>
    <script src="{% static 'theme/plugins/jquery-datatable/jquery.dataTables.js' %}"></script>
    <script src="{% static 'theme/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js' %}"></script>
    <script >
        $('.js-basic-example').DataTable({
            responsive: true,
            "oLanguage": {
                "sLengthMenu":     "Mostrar _MENU_ registros",
                "sZeroRecords":    "No se encontraron resultados",
                "sEmptyTable":     "Ningún dato disponible en esta tabla =(",
                "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix":    "",
                "sSearch":         "Buscar:",
                "sUrl":            "",
                "sInfoThousands":  ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst":    "Primero",
                    "sLast":     "Último",
                    "sNext":     "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                "buttons": {
                    "copy": "Copiar",
                    "colvis": "Visibilidad"
                }
            }
        });
        function delete_company(id){
            console.log(id);
            $("#company_id_sel").val(id);
            $("#delete-company").modal();
        }
        $('#delete-button').click(function(e){
            var value = $("#company_id_sel").val();
            var url = '{% url "delete_company" %}';
            var token = '{{csrf_token}}';
            $.ajax({
                headers: { "X-CSRFToken": token },
                method: 'POST',
                url: url,
                data: {
                    'value': value
                },
                success: function(data) {
                    if(data == 'Ok') {
                        location.reload();
                    }
                }
            });
        });
    </script>
{% endblock %}