
{% extends 'basic.html' %}
{% block style %}
    {% load static %}
    <!-- Sweetalert Css -->
    <link href="{% static 'theme/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet" />
    <link href="{% static 'theme/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}
{% load mathfilters %}
    <section class="content">
        <div class="container-fluid">
            <!-- Basic Examples -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="header">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                {% if page_1 == "total"%}
                                    <a class="btn btn-success waves-effect"  href="{% url 'spenses' %}">GASTOS TOTALES</a>
                                    <a class="btn btn-primary waves-effect" href="{% url 'spensesnon' %}">GASTOS CIRCULANTES</a>
                                {% else %}
                                    <a class="btn btn-primary waves-effect"  href="{% url 'spenses' %}">GASTOS TOTALES</a>
                                    <a class="btn btn-success waves-effect" href="{% url 'spensesnon' %}">GASTOS CIRCULANTES</a>
                                {% endif %}
                                <a class="btn btn-primary waves-effect" href="{% url 'repeats' %}">GASTOS FIJOS</a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <a class="btn btn-primary waves-effect" href="{% url 'spensesadd' %}"><i class="fa fa-plus-circle"></i>&nbsp; AÑADIR GASTOS</a>
                            </div>
                        </div>
                        <h2 style="">GASTOS</h2>

                    </div>
                    <div class="card" style="padding: 10px;">
                        <div class="body">
                        <table class="table color-table primary-table js-basic-example dataTable">
                            <thead>
                                <tr>
                                    <th scope="col">Empresa</th>
                                    <th scope="col">Categorie</th>
                                    <th scope="col">Proovedor</th>
                                    <th scope="col">Total Neto Cantidad</th>
                                    <th scope="col">Cantidad Bruto</th>
                                    <th scope="col">Tipo de IVA</th>
                                    <th scope="col">IVA</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Región</th>
                                    <th scope="col">Factura</th>
                                    <th scope="col">Note</th>
                                    <th scope="col" class="text-center">Modificar</th>
                                </tr>
                            </thead>
                            <tbody>	
                            {% for spense in spense_page %}
                                <tr class="text-left">
                                    <td style="vertical-align: middle;">{{spense.company.name}}<br>
                                        {% if spense.repeat_id > 0 and spense.confirm_spense == 2 %}
                                            <button data-id="{{spense.id}}" class="btn btn-xs btn-success btn_new">New</button>
                                            <button data-id="{{spense.id}}" class="btn btn-xs btn-danger btn_cancel">Cancel</button>
                                        {% endif %}
                                    </td>
                                    <td style="vertical-align: middle;">{{spense.category.name}}</td>
                                    <td style="vertical-align: middle;">{{spense.supplier.name}}</td>
                                    <td style="vertical-align: middle;">{{spense.amount|abs|mul:spense.supplier.vat_rate|default_if_none:0|div:100|addition:spense.amount|floatformat:2}}</td>
                                    <td style="vertical-align: middle;">{{spense.amount}}</td>
                                    <td style="vertical-align: middle;">{{spense.supplier.vat_rate|default_if_none:0}}%</td>
                                    <td style="vertical-align: middle;">{{spense.amount|abs|mul:spense.supplier.vat_rate|default_if_none:0|div:100|floatformat:2}}</td>
                                    <td style="vertical-align: middle;"><i class="fa fa-calendar"></i>&nbsp;{{spense.date|date:"Y-m-d"}}</td>
                                    <td style="vertical-align: middle;">{{spense.iva.name}}</td>
                                    {% if spense.file %}
                                        <td style="vertical-align: middle;"><a href="{{spense.file.url}}" target="_blank"><i class="fa fa-file-pdf-o"></i>&nbsp;{{spense.file|truncatechars:35}}</a></td>            
                                    {% else %}
                                        <td style="vertical-align: middle;color:red;" onclick="showBasicMessage()"><span style='font-size:20px; color:red;'>&#9888;</span>&nbsp;&nbsp;No existe factura !</td> 
                                    {% endif %}
                                    <td style="vertical-align: middle;">{{spense.description}}</td>
                                    <td class="text-center" style="vertical-align: middle;">
                                        <a href="{% url 'spensesupdate' spense.id %}"><i class="fa fa-pencil"></i></a>&nbsp;
                                        <a href="#" onclick="delete_spense('{{spense.id}}')"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th><strong>TOTAL</strong></th>
                                    <th></th>
                                    <th></th>
                                    <th>{{sums_tax.sum_tax|abs|addition:sums_spense.amount__sum|floatformat:"2"}}</th>
                                    <th>{{sums_spense.amount__sum|floatformat:"2"}}</th>
                                    <th></th>
                                    <th>{{sums_tax.sum_tax|abs|floatformat:"2"}}</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
            <!--Delete Spenses-->
            <div class="modal fade" id="delete-spenses" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" style="border-radius: 15px;">
                        <div class="modal-header" style="background-color: #489ee7; border-top-right-radius: 10px; border-top-left-radius: 10px;">
                            <div class="align-items-center">
                                <p class="modal-title" id="exampleModalLongTitle" style="color: white;"><i class="fa fa-trash"></i>&nbsp;&nbsp;ELIMINAR GASTOS</p>
                            </div>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" style="color: #fff;">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="col-12">
                                <h5>¿Está seguro que quiere eliminar este registro?</h5>
                            </div>
                        </div>
                        <input type="hidden" id="spense_id_sel" value="-1" />
                        <div class="modal-footer">
                            <center>
                                <button type="button" id="delete-button" class="btn btn-primary waves-effect">SI</button>
                                <button type="button" data-dismiss="modal" class="btn btn-danger waves-effect" data-dismiss="modal">NO</button>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block script %}
    <!-- SweetAlert Plugin Js -->
    <script src="{% static 'theme/plugins/sweetalert/sweetalert.min.js' %}"></script>
    <script src="{% static 'theme/plugins/jquery-datatable/jquery.dataTables.js' %}"></script>
    <script src="{% static 'theme/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js' %}"></script>
    <script >
        $('.js-basic-example').DataTable({
            responsive: true,
            "order": [[ 7, 'desc' ], [ 0, 'asc' ]],
            "columnDefs": [
                { "width": "8%", "targets": 0 },
                { "width": "8%", "targets": 7 },
                { "width": "6%", "targets": 6 },
                { "width": "6%", "targets": 5 },
                { "width": "6%", "targets": 4 },
                { "width": "10%", "targets": 2 },
                { "width": "5%", "targets": 11 }
              ],
            "oLanguage": {
                "sLengthMenu":     "Mostrar _MENU_ registros",
                "sZeroRecords":    "No se encontraron resultados",
                "sEmptyTable":     "Ningún dato disponible en esta tabla =(",
                "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix":    "",
                "sSearch":         "Buscar:",
                "sUrl":            "",
                "sInfoThousands":  ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst":    "Primero",
                    "sLast":     "Último",
                    "sNext":     "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                "buttons": {
                    "copy": "Copiar",
                    "colvis": "Visibilidad"
                }
            }
        });
        
        $('.js-basic-example').on('click', '.btn_new', function(){
            var url = '{% url "ajax_confirm_spense" %}'; 
            var token = '{{csrf_token}}';
            $.ajax({
                headers: { "X-CSRFToken": token },
                method: 'POST',
                url: url,
                data: {
                    'value': $(this).data('id')
                },
                success: function(data) {
                    if(data == 'Ok') {
                        location.reload();
                    }
                }
            });
        });
        $('.js-basic-example').on('click', '.btn_cancel', function(){
            console.log('aaaa');
            var url = '{% url "ajax_cancel_spense" %}'; 
            var token = '{{csrf_token}}';
            $.ajax({
                headers: { "X-CSRFToken": token },
                method: 'POST',
                url: url,
                data: {
                    'value': $(this).data('id')
                },
                success: function(data) {
                    if(data == 'Ok') {
                        location.reload();
                    }
                }
            });
        });
        function delete_spense(id){
            $("#spense_id_sel").val(id);
            $("#delete-spenses").modal();
        }
        $('#delete-button').click(function(e){
            var value = $("#spense_id_sel").val();
            var url = '{% url "delete_spense" %}'; 
            var token = '{{csrf_token}}';
            $.ajax({
                headers: { "X-CSRFToken": token },
                method: 'POST',
                url: url,
                data: {
                    'value': value
                },
                success: function(data) {
                    if(data == 'Ok') {
                        location.reload();
                    }
                }
            });
        });

        function showBasicMessage() {
            swal("Cargue el archivo de factura!", "", "error")
        }
    </script>
{% endblock %}