{% extends 'basic.html' %}
{% block style %}
    {% load static %}
    <!-- Sweetalert Css -->
    <link href="{% static 'theme/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
    <section class="content">
        <div class="container-fluid">
            <!-- Basic Examples -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>Cambio de contraseña</h2>
                        </div>
                        <form action="." method="POST" novalidate>
                            {% csrf_token %} 
                            <div class="body" style="padding: 20px 60px">
                                <div class="list-unstyled row clearfix">
                                    <div class="col-12">
                                        <label>Contraseña actual:</label>
                                        <input type="password" class="form-control" placeholder="" {{ form.old_password }}
                                        <br>
                                        <label>Nueva Contraseña:</label>
                                        <input type="password" class="form-control" placeholder="" {{ form.new_password1 }}
                                            <br>
                                        <label>Confirme Contraseña:</label>
                                        <input type="password" class="form-control" placeholder="" {{ form.new_password2 }}
                                    </div>
                                    <div class="col-12" style="text-align: center; padding-bottom: 50px; padding-top:20px;">
                                        <button class="btn btn-primary" type="submit">ACTUALIZAR</button>    
                                        <a class="btn btn-danger" href="{% url 'userlist' %}">CANCELAR</a></center>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
    