{% extends 'basic.html' %}
{% block style %}
    {% load static %}
    <!-- Sweetalert Css -->
    <link href="{% static 'theme/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
    <section class="content">
        <div class="container-fluid">
            <!-- Basic Examples -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="header">
                        <h2 style="padding-top:12px;">DETALLE BANCARIO</h2>
                    </div>
                    <div class="col-lg-6">
                        <h4>DATOS BANCARIOS</h4>
                        <div class="card" style="padding: 10px;">
                            <div style="padding: 10px; width:40%;">
                                <input id="search_bankdetail" type="search" class="form-control" placeholder="Buscar">
                            </div>
                            <table class="table table-bordered color-table primary-table">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">FECHA</th>
                                        <th scope="col">CONCEPTO</th>
                                        <th scope="col">FECHA VALOR</th>
                                        <th scope="col">IMPORTE</th>
                                        <th scope="col">SALDO</th>
                                    </tr>
                                </thead>
                                <tbody>	
                                {% if bankdatas %}	
                                    {% for bankdata in bankdatas %}
                                        {% if bankdata.flag != True %}
                                            <tr class="align-left">
                                                <td class="align-left" style="vertical-align: middle;"><input type="checkbox" class="filled-in chk-col-blue" checked/><label style="vertical-align: middle;"></label></td>
                                                <td class="align-left">{{bankdata.date_first|date:"Y-m-d"}}</td> 
                                                <td class="align-left">{{bankdata.paid_name|truncatechars:30}}</td>   
                                                <td class="align-left">{{bankdata.date_second|date:"Y-m-d"}}</td>
                                                <td class="align-left">{{bankdata.amount}}</td> 
                                                <td class="align-left">{{bankdata.balance}}</td>                   
                                            </tr>
                                        {% else %}
                                            <tr class="align-left">
                                                <td class="font-bold col-pink" style="vertical-align: middle;"><input type="checkbox" class="filled-in chk-col-pink" checked /><label style="vertical-align: middle;"></label></td>
                                                <td class="font-bold col-pink" style="vertical-align: middle;">{{bankdata.date_first|date:"Y-m-d"}}</td> 
                                                <td class="font-bold col-pink" style="vertical-align: middle;">{{bankdata.paid_name|truncatechars:30}}</td>   
                                                <td class="font-bold col-pink" style="vertical-align: middle;">{{bankdata.date_second|date:"Y-m-d"}}</td>
                                                <td class="font-bold col-pink" style="vertical-align: middle;">{{bankdata.amount}}</td> 
                                                <td class="font-bold col-pink" style="vertical-align: middle;">{{bankdata.balance}}</td>                   
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <tr><td colspan="6" style="padding-bottom:30px;">No existen Banco Datos</td></tr>
                                {% endif %}
                                </tbody>
                            </table>
                            <script>
                                $("#search_bankdetail").keyup(function(){
                                    _this = this;
                                    // Show only matching TR, hide rest of them
                                    $.each($("table tbody tr"), function() {
                                        if($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1){
                                            $(this).hide();
                                        }
                                        else {
                                            $(this).show();
                                        }
                                    });
                                });
                            </script>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <h4>GASTOS</h4>
                        <div id="search_hidden"></div>
                        <div class="card" style="padding: 10px;" id="search_spense">
                                
                            <div style="padding: 15px; width:100%;">
                                <div class="col-lg-1">
                                    <label>INICIO: </label>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" style="padding-bottom:10px;">
                                    <input id="start_date" name="start_date" required/>	
                                </div>
                                <div class="col-lg-1">
                                    <label>FIN: </label>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" style="padding-bottom:10px;">
                                    <input id="end_date" name="end_date" required/>
                                </div>
                                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12" style="padding-bottom:10px;">
                                    <button id="search_button" class="btn btn-primary waves-effect">Buscar</button>
                                </div> 
                            </div>

                            <table class="table table-bordered color-table primary-table">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">FECHA</th>
                                        <th scope="col">CONCEPTO</th>
                                        <th scope="col">IMPORTE</th>
                                        <th scope="col" class="text-center">Modificar</th>
                                    </tr>
                                </thead>
                                <tbody>	
                                {% if spenses %}	
                                    {% for spense in spenses %}
                                        {% if spense.flag != True %}
                                            <tr class="text-left">
                                                <td class="text-left" style="vertical-align: middle;"><input type="checkbox" class="filled-in chk-col-blue" checked/><label style="vertical-align: middle;"></label></td>
                                                <td class="text-left">{{spense.date|date:"Y-m-d"}}</td> 
                                                <td class="text-left">{{spense.supplier.name|truncatechars:30}}</td>   
                                                <td class="text-left">{{spense.amount}}</td> 
                                                <td class="text-center" style="vertical-align: middle;">
                                                    <a href="{% url 'spensesupdate' spense.id %}" target="_blank"><i class="fa fa-pencil"></i></a>&nbsp;
                                                    <a href="#" data-toggle="modal" data-target="#delete-spenses{{spense.id}}"><i class="fa fa-trash"></i></a>
                                                </td>                  
                                            </tr>
                                        {% else %}
                                            <tr class="text-left" style="color:blue!important;">
                                                <td class="text-left" style="vertical-align: middle;"><input type="checkbox" class="filled-in chk-col-orange" checked/><label style="vertical-align: middle;"></label></td>
                                                <td class="text-left" style="vertical-align: middle;">{{spense.date|date:"Y-m-d"}}</td> 
                                                <td class="text-left" style="vertical-align: middle;">{{spense.supplier.name|truncatechars:30}}</td>   
                                                <td class="text-left" style="vertical-align: middle;">{{spense.amount}}</td>      
                                                <td class="text-center" style="vertical-align: middle;">
                                                    <a href="{% url 'spensesupdate' spense.id %}" target="_blank"><i class="fa fa-pencil"></i></a>&nbsp;
                                                    <a href="#" data-toggle="modal" data-target="#delete-spenses{{spense.id}}"><i class="fa fa-trash"></i></a>
                                                </td>             
                                            </tr>
                                        {% endif %}
                                        <!--Delete Spenses-->
                                        <div class="modal fade" id="delete-spenses{{spense.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-xs">
                                                <div class="modal-content" style="border-radius: 15px;">
                                                    <div class="modal-header" style="background-color: #7f9bcd; border-top-right-radius: 10px; border-top-left-radius: 10px;">
                                                        <div class="align-items-center">
                                                            <p class="modal-title" id="exampleModalLongTitle" style="color: white;"><i class="fa fa-trash"></i>&nbsp;&nbsp;ELIMINAR GASTOS</p>
                                                        </div>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true" style="color: #fff;">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="col-12">
                                                            <h5>¿Está seguro que quiere eliminar este registro?</h5>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <center>
                                                            <button id="delete-button{{spense.id}}" class="btn btn-primary waves-effect">SI</button>
                                                            <button data-dismiss="modal" class="btn btn-danger waves-effect">NO</button>
                                                        </center>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <script>
                                            $('#delete-button{{spense.id}}').click(function(e){
                                                var value = '{{spense.id}}';
                                                var url = '{% url "delete_spense" %}'; 
                                                var token = '{{csrf_token}}';
                                                $.ajax({
                                                    headers: { "X-CSRFToken": token },
                                                    method: 'POST',
                                                    url: url,
                                                    data: {
                                                        'value': value
                                                    },
                                                    success: function(data) {
                                                        if(data == 'Ok') {
                                                            location.reload();
                                                        }
                                                    }
                                                });
                                            });
                                        </script>
                                    {% endfor %}
                                {% else %}
                                    <tr><td colspan="5" style="padding-bottom:30px;">No existen Gastos</td></tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
{% endblock %}
{% block script %}
    <script>
        $('#start_date').datepicker({
            format: 'yyyy-mm-dd',
            maxDate: function () {
            return $('#end_date').val();
            }
        });
        $('#end_date').datepicker({
            format: 'yyyy-mm-dd',
            minDate: function () {
            return $('#start_date').val();
        }
        });
        $("#search_button").on('click', function(){
            var token = '{{csrf_token}}';
            var value = {{value}};
            var start_date = $("#start_date").val();
            var end_date = $("#end_date").val();
            var my_url = '{% url "bankdetail" value %}';
            if(start_date !== "" && end_date !== ""){
                $("#search_spense").hide();
                
                $.ajax({
                    headers: { "X-CSRFToken": token },
                    method: 'POST',
                    url: my_url,
                    data: {
                        'start_date': start_date,
                        'end_date': end_date,
                        'value': value
                    },
                    success: function(data) {
                        $('#search_hidden').html(data);
                    }
                });
            }
            else if(start_date === "" && end_date === ""){
                $("#start_date").focus();
            }
            else if(start_date !== "" && end_date === ""){
                $("#end_date").focus();
            }
            else if(start_date === "" && end_date !== ""){
                $("#start_date").focus();
            }
        })
    </script>
    <!-- SweetAlert Plugin Js -->
    <script src="{% static 'theme/plugins/sweetalert/sweetalert.min.js' %}"></script>
{% endblock %}